@import "../../_kaizen-ui-colors";

body {
  color: #333;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

%color-box {
  height: 30px;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 14px;
  font-family: Consolas, Menlo, Courier, monospace;
  color: #000;
}

@each $color in $color-names {
  @if variable_exists(color-#{$color}--lighter) {
    .#{$color}--lighter {
      background-color: interpolate_variable(color-#{$color}--lighter);
      @extend %color-box;
    }
  }

  @if variable_exists(color-#{$color}--light) {
    .#{$color}--light {
      background-color: interpolate_variable(color-#{$color}--light);
      @extend %color-box;
    }
  }

  @if variable_exists(color-#{$color}) {
    .#{$color} {
      background-color: interpolate_variable(color-#{$color});
      @extend %color-box;
      height: 120px;
    }
  }

  @if variable_exists(color-#{$color}--dark) {
    .#{$color}--dark {
      background-color: interpolate_variable(color-#{$color}--dark);
      @extend %color-box;
    }
  }

  @if variable_exists(color-#{$color}--darker) {
    .#{$color}--darker {
      background-color: interpolate_variable(color-#{$color}--darker);
      @extend %color-box;
    }
  }
}

.colorgroup {
  margin: 30px 20px 30px 0;
  width: 210px;
  display: inline-block;
  vertical-align: top;

  & div:last-child {
    margin-bottom: 0;
  }
}
